<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Equal Url</title>
	<link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="main">
	<div id="header">
		<a href="http://equalurl.com/"><h1 id="logo">EqualURL.com</h1></a>
		<h2 id="tagline">When the length of your url is just right.</h2>
	</div>
	
	<div id="sidebar">
		<a href="/">Home</a>
		<a href="#example">Example</a>
		<a href="http://reddit.com">Fun Stuff</a>
		<a href="http://hugeurl.com">For Big Urls</a>
		<a href="http://tinyurl.com">For Tiny Urls</a>
		<a href="http://xkcd.com">Webcomics</a>
	</div>
	
	<div id="content">
		<%= yield %>
	</div>
</div>
</body>
</html>