<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Equal Url</title>
	<style>
		#main{
			width: 100%;
			min-width: 400px;
		}
		#content{
			width: 70%;
			margin-top: 100px;
			margin-left: auto;
			margin-right: auto;
		}
		p b{
			font-family: Courier;
		}
		p{
			padding: 10px 20px;
		}
		a{
			color: #731a7b;
		}
		a:visited{
			color: #731a7b;
		}
	</style>
</head>
<body>
<div id="main">
	<div id="content">
		<%= yield %>
	</div>
</div>
</body>
</html>